


		for resume: 
		
		responsive design / ============= Complete ==
		
		favicon / ======================= Complete ==
		
		fix the mistakes / ============== Complete ==
		
		testimony ( juste like your website but just text ) / ========================== Complete ==

		and the last photo that i can’t make appear on my website / ==================== Complete ==